{% extends 'base.html' %}
{% block content %}

    <!-- Main Content -->
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <h1>QFA CME Telephony System</h1>
                <p class="lead">IT Dept.</p>
                <hr>
                <!-- Placeholder for future content -->
                <div id="content">
                    <p>System details and functionality:</p>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}